<h1>Companies#show</h1>
<p> <%= @message %> </p>

<p>
	<ul>
      	<% @companies.each do |company|%>
			<li>
				<%= company.name  %>, 
				<%= company.url  %>, 
				<%= company.fbid  %>, 
				<%= company.desc %> 
			</li> 
		<% end %>     
	</ul>

</p>

<p><%= link_to "Register here", new_path %> </p>
