<h1>Companies</h1>
<p>Is your page missing from the list? Click <%= link_to "here", new_path %>  to add it. </p>
<% if flash[:notice]  %>
	<p id="notice" ><%= flash[:notice] %></p>
<% end %>
<p> 
<% if @companies.count != 0 %>
	<table>
		<% i = 0 %>
		<tr>
			<th>No. </th>
			<th>Name</th> 
			<th>FB Likes</th>
			<th>Description</th>  				
		</tr> 
      	<% @companies.each do |company|%>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= company.name.titleize %></td> 
				<td><% if company.likes != nil %>
						<%= link_to company.likes, "http://www.facebook.com/"+company.fbid %>
					<% else %>
						<%= link_to 0, "www.facebook.com/"+company.fbid %>
					<% end %>
				</td>	
				<td><%= company.desc %></td>  	  				
			</tr> 
		<% end %>     
	</table>
<% end %>	
</p>


￼


