<h1>Companies#show</h1>
<p> <%= @message %> </p>

<p>
	<ul>
      	<% @companies.each do |company|%>
			<li>
				<%= company.name.titleize  %>, 
				<%= company.url  %>, 
				<%= company.fbid  %>, 
				<%= company.desc %>,
				<%= company.likes %>  
				
				END
			</li> 
		<% end %>     
	</ul>

</p>

<p><%= link_to "Register here", new_path %> </p>
