<h1>Companies</h1>
<p>Is your page missing from the list? Click <%= link_to "here", new_path %>  to add it. </p>

<p>
	<table>
		<% i = 0 %>
		<tr>
			<th>No. </th>
			<th>Name</th> 
			<th>FB Likes</th>
			<th>Description</th>  				
		</tr> 
      	<% @companies.each do |company|%>
			<tr>
				<td><%= i+=1 %></td>
				<td><%= company.name.titleize %></td> 
				<td><%= link_to company.likes, "www.facebook.com/"+company.fbid %></td>
				<td><%= company.desc %></td>  	  				
			</tr> 
		<% end %>     
	</table>
</p>


￼


